:root {
    --bg: #282c34;
    --header: #fff;
    --link: #61dafb;
    --text: hsla(0, 0%, 100%, 0.88);
  }
  
  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
  }
  
  #root {
      width: 100%;
      height: 100%;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('https://cdn.theatlantic.com/thumbor/EmW-E0FwUa0MhOoGk0BXYyBiBm0=/0x0:1718x1718/1718x1718/media/files/est/space-calculator/background6.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(100, 150, 250, 0.7);
    border: 2px solid rgba(180, 220, 255, 0.85);
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
  }
  
  .button-container button:hover {
    background-color: rgba(100, 150, 250, 0.9);
  }
  
  .card, .card-title, .card-text, .card-body, .clickable-item {
    cursor:crosshair; /* Change cursor to pointer */
  }
  
  /* New hover effect */
  .card-title:hover, .card-text:hover, .card-body:hover, .clickable-item:hover {
    color: #00FF00; /* Change text color */
    transition: color 0.3s ease;
  }
  
  .clickable-item:hover {
    background: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(100, 150, 250, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
