#test {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
}
#selectionHeading {
    margin: 0;
    padding: 0;
}
.selectionBox {
  width: 550px;
  height: 100px;
  padding: 5px;
  border: 1px solid #2e2929;  
  border-top: none;   
  border-right: none;
  background-color: rgb(0, 0, 0); 
  margin-bottom: 120px;
  margin-top: 75px;
  transition: box-shadow 0.9s ease;
  
}
.selectionBox a {
  padding: 0px;
}
.selectionBox:hover {
  box-shadow: 0 0 20px 5px darkred;
  cursor: pointer;
}
.selectionBox img {
  height: 50%;
  max-width: 50%;
  transform: scale(3.0);
  position: relative; 
  top: -70px; 
  left: 500px;
}
.selectionBox h1 {
  color: white;
  font-style: italic;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87);
}
.selectionHeading  {
  color:antiquewhite;
  position: absolute;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87);
  right: 60px;
  margin-right: 0px;
}
#test {
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.playerImageSect {
  position: relative;
  width: 575px;
  height: 900px;
  left: 175px;
  top: 100px;
  overflow: hidden;
}
.invisibleImageSect {
  position: relative;
  width: 575px;
  height: 900px;
  left: 200px;
  top: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
}
#playerImageRotation {
  max-height: 30%;
  max-width: 30%;
  transform: scale(1.3);
  position: absolute; 
  left: 75px;
  top: 70px;
}
.visibleArrow {
  height: 25%;
  max-width: 25%;
  transform: scale(0.2);
  position: absolute; 
  left: 300px;
  top: 295px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.visibleArrow:hover {
  box-shadow: 0 2px 4px rgba(17, 0, 255, 0.2);
}
.visibleArrow:active {
  transform: translateY(1px);
  box-shadow: 0 0px 2px rgba(255, 0, 0, 0.2);
}
.playerConfirmation {
  color: aliceblue;
  position: relative;
  top: 200px;
}
.playerButton {
  position: absolute;
  top: 600px;
  background-color: #ff0000; 
  color: rgb(255, 255, 255);
  font-style: italic;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87); 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 4px; 
  text-transform: uppercase; 
  transition: background-color 0.3s; 
}
.playerButton:hover {
  background-color: #b60000; 
}
.playerButton:active {
  background-color: #a30000; 
}
#create {
  color: white;
  font-style: italic;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87);
  font-size: 2em;
  font-weight: bold;
}
#createImage {
  position:relative;
  left: 235px;
  top: 10px;
}
#testCreation{
  position: relative;
  border-style: solid;
  height: 575px;
  border-color: rgb(39, 39, 39);
  width: 400px;
  border-radius: 10px;
  background-color: rgb(70, 69, 69, .5);
  left: 20px;
}

#noButton {
  left: 450px;
}
.playerImageSect p {
  position: absolute;
  top: 450px;
  left: 75px;
  color: antiquewhite;
  font-size: 32px;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87);
}
#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: transform 0.7s ease;
}
.inputCreation {
  color: black;
}
.labels {
  color:antiquewhite;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87); 
  font-size: 18px;
}

.inputCreation {
  padding: 12px 20px;
  margin-bottom: 12px;
  background-color: #db6c6c;
  width: 270px;
  color:antiquewhite;
  font-size: 16px;
  transition: box-shadow 0.4s ease;
}
.inputCreation:hover {
  box-shadow: 0 0 10px 5px darkred;
}
.inputCreation:focus {
  background-image: url('https://media.tenor.com/zaSpqiXC8s8AAAAj/comet.gif');
  background-position: 265px 3px; 
  background-size: 50px 35px;
  background-repeat: no-repeat;
}

#playerForm {
  position: relative;
  top: 0px;
}
#playerImageContainer {
  position: absolute;
  border-style: none;
  border-color: antiquewhite;
  width: 550px;
  height: 475px;
  right: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#playerImage {
  height: 50%;
  max-width: 50%;
}
#playerImageNone {
  display: none;
}
.playerHeading{
  position:relative;
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 15px;
  margin-right: 15px;
  top: 10px;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87);
}
#playerInfo p {
  padding: 7px;
  background-color: #2e2929;
}
#playerInfo {
  border-style: solid;
  border-color: antiquewhite;
  background-color: black;
  position: relative;
  border: 1px solid #ff0000; /* Optional border */
  box-shadow: 5px 5px  rgba(255, 253, 253, 0.5);
  transition: box-shadow 0.3s ease;
  transition: transform 0.7s ease;
  margin-bottom: 175px;
  z-index: 1;
}

.playerEditButton {
  background-color: #ff0000; 
  color: rgb(255, 255, 255);
  font-style: italic;
  text-shadow: 2px 2px rgba(255, 37, 37, 0.87); 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 4px; 
  text-transform: uppercase; 
  transition: background-color 0.3s; 
  position: relative;
  left: 400px;
}
.playerEditButton:hover {
  background-color: #b60000; 
  color: #808080;
}
.playerEditButton:active {
  background-color: #a30000; 
}
/* 404 165 */
#loreCreationText{
  resize: none;
  background-color: #db6c6c;
  color: antiquewhite;
}